.section-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: calc(32.81/28);
    text-align: center;
@media screen and (min-width:1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42.19/36);
    

}

}
